!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NesTodos
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://unpkg.com/nes.css@latest/css/nes.min.css'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
